:root {
  --primary: #a53337;

  --bg: #d77272;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#f0a8a8, #530606);
  color: #fff;
  min-height: 2000px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(52, 5, 5, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.8rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbarekstra a {
  color: #fff;
  margin: 0 0.5;
}

.navbar .navbarekstra a:hover {
  color: var(--primary);
  margin: 0 0.5;
}

/* Hero Sections */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.hero .content {
  padding: 6rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: rgba(49, 12, 12, 0.8);
}

.hero .content .cta {
  margin-top: 3rem;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  font-size: 1.4rem;
  color: #fdbebe;
  background-color: rgba(78, 13, 13, 0.8);
  border-radius: 0.6rem;
  box-shadow: 1px 1px 3px rgba(80, 19, 19, 0.8);
}

.hero .content.p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  font-weight: 50;
  mix-blend-mode: difference;
}

.hero .picture {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 150%;
}

.hero .picture .knowus,
.knowus2 {
  display: flex;
  flex-direction: column;
}

.hero .picture .knowus img,
.knowus2 img {
  width: 100%;
  height: auto;
  margin-bottom: 2px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.hero .picture .knowus img:hover,
.knowus2 img:hover {
  transform: scale(1.1);
}

/* Members Section Part1 */
.members,
.experience,
.contact {
  padding: 9rem 7% 1.4rem;
  margin-bottom: 20%;
}
.members h2,
.experience h2,
.contact h2 {
  background-color: rgba(78, 13, 13, 0.8);
  border-radius: 2rem;
  box-shadow: 1px 1px 3px rgba(80, 19, 19, 0.8);
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  z-index: 2000;
}
.members h2 span,
.experience span,
.contact h2 span {
  color: #fdb5b5;
  text-shadow: 2px 2px 3px rgba(1, 1, 3, 0.5);
}

.members .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}
.members .row .members-img {
  display: flex;
  justify-content: space-between;
}
.members .row .members-img .image-item {
  text-align: center;
  flex: 1;
  margin-right: 20px;
}
.members .row .members-img .image-item img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.members .row .members-img .image-item img:hover {
  transform: scale(1.1);
}

/* Members Section Part2 */
.members .row2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0rem;
  justify-content: center;
}
.members .row2 .members2-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.members .row2 .members2-img .image-item2 {
  text-align: center;
}
.members .row2 .members2-img .image-item2 img {
  margin-top: 0%;
  max-width: 100%;
  height: absolute;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.members .row2 .members2-img .image-item2 img:hover {
  transform: scale(1.1);
}

/* Experience Section */
.experience .all-experience {
  display: flex;
}

.experience .all-experience .experience-img {
  flex: 0 1 25rem;
}

.experience .all-experience .experience-img img {
  width: 75%;
  margin-left: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.experience .all-experience .experience-img img:hover {
  transform: scale(1.1);
}

.experience .all-experience .content3 {
  flex: 1 1 15rem;
  padding: 0 0rem;
}
.experience .all-experience .content3 h5 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.experience .all-experience .content3 p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: justify;
}

/* Contact section */
.contact p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: center;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #222;
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background-color: #222;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/*footer*/
footer {
  background-color: var(--bg);
  text-align: center;
  padding: 1rem 3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}
footer .links {
  margin-bottom: 1.3rem;
}
footer .social a:hover,
footer .links a:hover {
  color: var(--primary);
}

footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: var(--primary);
  font-weight: 700;
}

/* Media Queries */

/*Laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ffcdcd;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero {
    margin-top: 25px;
  }
  .hero .picture {
    flex-wrap: wrap;
  }
  .hero .picture .knowus {
    flex: 1;
    max-width: 200%;
    margin-right: 0px;
    margin-left: 0;
  }
  .hero .picture .knowus img {
    height: auto;
    object-fit: cover;
    object-position: right;
    width: 180%;
    height: auto;
  }
  .hero .picture .knowus2 img {
    display: none;
  }

  .experience .all-experience {
    flex-wrap: wrap;
  }
  .experience .all-experience .experience-img img {
    object-fit: cover;
    object-position: center;
  }

  .experience .all-experience .content3 h5 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .experience.all-experience.content p {
    font-size: 1.6rem;
  }

  /*members*/
  .members .row {
    flex-wrap: wrap;
  }
  .members .row2 {
    flex-wrap: wrap;
  }
  .members .row .members-img img {
    height: 24rcm;
    object-fit: cover;
  }
  .members .row .members2-img img {
    height: 24rcm;
    object-fit: cover;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
  .contact .social {
    flex-wrap: wrap;
  }
}

/*HP*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
